<script setup lang="ts">
import {onMounted, ref, watch} from 'vue'
import { Loader } from "@googlemaps/js-api-loader"
const mapElement = ref<HTMLElement|null>(null);
const searchBoxElement = ref<HTMLInputElement|null>(null);
defineProps<{ msg: string }>()
const lat = ref<number|null>(null);
const long = ref<number|null>(null);
const loader = new Loader({
  apiKey: "AIzaSyDapmqshxKpjnJxsXdBR_4WKZ38uv8Sz2M",
  version: "weekly",
  libraries: ["places",],
});
const showLocationButton = !!navigator.geolocation;
const onGeoLocation = () => {
  navigator.geolocation.getCurrentPosition((position) => {
    lat.value = position.coords.latitude;
    long.value = position.coords.longitude;
  });
};
const resultsToShow = ref<any[]>([]);
let map: any = null;
onMounted(() => {
  loader.load().then((google) => {
    map = new google.maps.Map(mapElement.value as HTMLElement, {
      center: { lat: 53, lng: -3 },
      zoom: 5,
      styles: [
        { elementType: "geometry", stylers: [{ color: "#242f3e" }] },
        { elementType: "labels.text.stroke", stylers: [{ color: "#242f3e" }] },
        { elementType: "labels.text.fill", stylers: [{ color: "#746855" }] },
        {
          featureType: "administrative.locality",
          elementType: "labels.text.fill",
          stylers: [{ color: "#d59563" }],
        },

        {
          featureType: "poi",
          elementType: "labels.text.fill",
          stylers: [{ color: "#d59563" }],
        },
        {
          featureType: "poi.park",
          elementType: "geometry",
          stylers: [{ color: "#263c3f" }],
        },
        {
          featureType: "poi.park",
          elementType: "labels.text.fill",
          stylers: [{ color: "#6b9a76" }],
        },
        {
          featureType: "road",
          elementType: "geometry",
          stylers: [{ color: "#38414e" }],
        },
        {
          featureType: "road",
          elementType: "geometry.stroke",
          stylers: [{ color: "#212a37" }],
        },
        {
          featureType: "road",
          elementType: "labels.text.fill",
          stylers: [{ color: "#9ca5b3" }],
        },
        {
          featureType: "road.highway",
          elementType: "geometry",
          stylers: [{ color: "#746855" }],
        },
        {
          featureType: "road.highway",
          elementType: "geometry.stroke",
          stylers: [{ color: "#1f2835" }],
        },
        {
          featureType: "road.highway",
          elementType: "labels.text.fill",
          stylers: [{ color: "#f3d19c" }],
        },
        {
          featureType: "transit",
          elementType: "geometry",
          stylers: [{ color: "#2f3948" }],
        },
        {
          featureType: "transit.station",
          elementType: "labels.text.fill",
          stylers: [{ color: "#d59563" }],
        },
        {
          featureType: "water",
          elementType: "geometry",
          stylers: [{ color: "#17263c" }],
        },
        {
          featureType: "water",
          elementType: "labels.text.fill",
          stylers: [{ color: "#515c6d" }],
        },
        {
          featureType: "water",
          elementType: "labels.text.stroke",
          stylers: [{ color: "#17263c" }],
        },
      ],

    });
    const request = {
      query: 'cliff',
      fields: ['name', 'geometry'],
    };
    const searchBox = new google.maps.places.SearchBox(searchBoxElement.value!);
    console.log(google);

    searchBox.addListener("places_changed", () => {
      const result = searchBox.getPlaces();
      if(result?.[0]) {
        lat.value = result[0]!.geometry!.location!.lat();
        long.value = result[0]!.geometry!.location!.lng();
      }
    });

    const service = new google.maps.places.PlacesService(map);

  });
  watch([lat, long], ([lat, long]) => {
    console.log(lat, long);
    const center = new google.maps.LatLng(lat, long);
    map.setCenter(center);
    map.setZoom(12);
    const service = new google.maps.places.PlacesService(map);

    var request = {
      location: center,
      radius: 50000,
      type: 'point_of_interest',
      rankby: 'distance',
      keyword: 'cliff',
      fields: ['name', 'geometry'],
    };

    service.nearbySearch(request, function(results, status) {
      if (status === google.maps.places.PlacesServiceStatus.OK) {
        resultsToShow.value = [];
         // create marker on map for each
        results.forEach((result) => {
          resultsToShow.value.push({
            name: result.name,
            rating: result.rating,
            vicinity: result.vicinity,
          });
          const marker = new google.maps.Marker({
            position: result.geometry.location,
            map: map,
          });
          console.log(results);
          const infowindow = new google.maps.InfoWindow({
            content: `<div class="text-black">${result.name}</div>`,
          });
          marker.addListener("click", () => {
            infowindow.open(map, marker);
          });
      });
      }
    });

  })
})

</script>

<template>
  <h1 class="text-2xl text-center p-4 font-bold">Find a Cliff</h1>
  <div class="font-bold p-2 text-center p-4 font-bold">Use the search below or your location to find nearby cliffs</div>
  <div class="text-center">
  <button type="button" v-show="showLocationButton" @click="onGeoLocation" class="bg-gray-500 p-2 m-2 rounded">Use Location (recommended)</button>
    <div class="m-2 text-center" > or</div>
    <input type="text" class="bg-gray-700 w-full rounded p-2 my-2"  ref="searchBoxElement" placeholder="Type in address">

  </div>
  <div v-show="lat && long">

    <h3 class="font-bold text-lg p-2 text-center">Here are your nearby cliffs (map available below)</h3>
  <div v-for="result in resultsToShow" class=" bg-gray-500 p-4 m-4">
    <svg class="inline" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path  fill="white" d="M12 10c-1.104 0-2-.896-2-2s.896-2 2-2 2 .896 2 2-.896 2-2 2m0-5c-1.657 0-3 1.343-3 3s1.343 3 3 3 3-1.343 3-3-1.343-3-3-3m-7 2.602c0-3.517 3.271-6.602 7-6.602s7 3.085 7 6.602c0 3.455-2.563 7.543-7 14.527-4.489-7.073-7-11.072-7-14.527m7-7.602c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602"/></svg>
    <span class="font-bold p-2">{{result.name}}</span>
    <div class="pl-8">{{result.vicinity}}</div>
    <div class="pl-8">{{result.rating}} / 5</div>
  </div>
  <div ref="mapElement" id="fuck-off" class="w-full" style="height: 40rem;"></div>
  </div>


</template>
